<main class="position-relative-992  z-top">
  <nav class="container d-flex align-items-center justify-content-between px-8 navbar navbar-expand-lg py-8 rounded-pill-992 shadow-sm mt-lg-6 mb-lg-3">
    <div class="d-flex align-items-center">
      
      <a class="ms-lg-6 navbar-brand p-0 me-4" href="index-login.html"><img class="img-logo py-7" src="../assets/images/logo.png" alt=""></a>

      <div class="d-none d-lg-block">
        <button class="bg-white border-0 dropdown-toggle px-4 fs-6" type="button" id="find" data-bs-toggle="dropdown"
          aria-expanded="false">
          探索
        </button>
        
        <div class=" container-search mt-2 pt-2 pb-1  rounded-4 dropdown-menu botton-0 start-50 translate-middle-x" aria-labelledby="find">
          <div class="d-flex">
            <!-- 探索全部  -->
            <ul class="px-8 box-1 m-0">
              <li class="list-group-item mb-2 p-0 border-0">
                <h2 class="m-0 py-8 text-neutral-80 ps-4 fs-6">
                  探索全部
                </h2>
              </li>
              <li class="list-group-item p-0 border-0">
                <button
                  class="btn btn-white text-neutral-80 fs-6 text w-100 d-flex py-8 ps-4 pe-8  align-items-center justify-content-between rounded-4">
                  音樂
                  <img class="img-sm" src="../assets/images/chevron_right_24dp_909090_FILL0_wght400_GRAD0_opsz24.png"
                    alt="chevron_right">
                </button>
              </li>
              <li class="list-group-item p-0 border-0">
                <button
                  class="btn btn-white text-neutral-80 fs-6 text w-100 d-flex py-8 ps-4 pe-8  align-items-center justify-content-between rounded-4">
                  攝影
                  <img class="img-sm" src="../assets/images/chevron_right_24dp_909090_FILL0_wght400_GRAD0_opsz24.png"
                    alt="chevron_right">
                </button>
              </li>
              <li class="list-group-item p-0 border-0">
                <button
                  class="btn btn-white text-neutral-80 fs-6 text w-100 d-flex py-8 ps-4 pe-8  align-items-center justify-content-between rounded-4">
                  程式
                  <img class="img-sm" src="../assets/images/chevron_right_24dp_909090_FILL0_wght400_GRAD0_opsz24.png"
                    alt="chevron_right">
                </button>
              </li>
              <li class="list-group-item p-0 border-0">
                <button
                  class="btn btn-white text-neutral-80 fs-6 text w-100 d-flex py-8 ps-4 pe-8  align-items-center justify-content-between rounded-4">
                  藝術
                  <img class="img-sm" src="../assets/images/chevron_right_24dp_909090_FILL0_wght400_GRAD0_opsz24.png"
                    alt="chevron_right">
                </button>
              </li>
              <li class="list-group-item p-0  border-0">
                <button
                  class="btn btn-white text-neutral-80 fs-6 text w-100 d-flex py-8 ps-4 pe-8  align-items-center justify-content-between rounded-4">
                  人文
                  <img class="img-sm" src="../assets/images/chevron_right_24dp_909090_FILL0_wght400_GRAD0_opsz24.png"
                    alt="chevron_right">
                </button>
              </li>
              <li class="list-group-item p-0  border-0">
                <button
                  class="btn btn-white text-neutral-80 fs-6 text w-100 d-flex py-8 ps-4 pe-8  align-items-center justify-content-between rounded-4">
                  行銷
                  <img class="img-sm" src="../assets/images/chevron_right_24dp_909090_FILL0_wght400_GRAD0_opsz24.png"
                    alt="chevron_right">
                </button>
              </li>
              <li class="list-group-item p-0  border-0">
                <button
                  class="btn btn-white text-neutral-80 fs-6 text w-100 d-flex py-8 ps-4 pe-8  align-items-center justify-content-between rounded-4">
                  投資理財
                  <img class="img-sm" src="../assets/images/chevron_right_24dp_909090_FILL0_wght400_GRAD0_opsz24.png"
                    alt="chevron_right">
                </button>
              </li>
              <li class="list-group-item p-0  border-0">
                <button
                  class="btn btn-white text-neutral-80 fs-6 text w-100 d-flex py-8 ps-4 pe-8  align-items-center justify-content-between rounded-4">
                  心靈成長
                  <img class="img-sm" src="../assets/images/chevron_right_24dp_909090_FILL0_wght400_GRAD0_opsz24.png"
                    alt="chevron_right">
                </button>
              </li>
              <li class="list-group-item p-0  border-0">
                <button
                  class="btn btn-white text-neutral-80 fs-6 text w-100 d-flex py-8 ps-4 pe-8  align-items-center justify-content-between rounded-4">
                  職場技能
                  <img class="img-sm" src="../assets/images/chevron_right_24dp_909090_FILL0_wght400_GRAD0_opsz24.png"
                    alt="chevron_right">
                </button>
              </li>
              <li class="list-group-item p-0  border-0">
                <button
                  class="btn btn-white text-neutral-80 fs-6 text w-100 d-flex py-8 ps-4 pe-8  align-items-center justify-content-between rounded-4">
                  生活品味
                  <img class="img-sm" src="../assets/images/chevron_right_24dp_909090_FILL0_wght400_GRAD0_opsz24.png"
                    alt="chevron_right">
                </button>
              </li>
              <li class="d-lg-none list-group-item p-0 mt-auto">
                <a class="btn btn-error-100 text-white w-100 py-3" href="login.html" type="button">登入/註冊</a>
              </li>
            </ul>
            <!-- 所有程式 -->
             <ul class="px-8 box-1 m-0">
              <li class="list-group-item mb-2 p-0 border-0">
                <h2 class="m-0 py-8 text-neutral-80 ps-4 fs-6">
                  所有程式
                </h2>
              </li>
              <li class="list-group-item p-0 border-0">
                <a href="course-list.html"
                  class="btn btn-white text-neutral-80 fs-6 text w-100 d-flex py-8 ps-4 pe-8  align-items-center justify-content-between rounded-4">
                  程式入門
                  <img class="img-sm" src="../assets/images/chevron_right_24dp_909090_FILL0_wght400_GRAD0_opsz24.png"
                    alt="chevron_right">
              </a>
              </li>
              <li class="list-group-item p-0 border-0">
                <a href="course-list.html"
                  class="btn btn-white text-neutral-80 fs-6 text w-100 d-flex py-8 ps-4 pe-8  align-items-center justify-content-between rounded-4">
                  網頁前端
                  <img class="img-sm" src="../assets/images/chevron_right_24dp_909090_FILL0_wght400_GRAD0_opsz24.png"
                    alt="chevron_right">
              </a>
              </li>
              <li class="list-group-item p-0 border-0">
                <a href="course-list.html"
                  class="btn btn-white text-neutral-80 fs-6 text w-100 d-flex py-8 ps-4 pe-8  align-items-center justify-content-between rounded-4">
                  網頁後端
                  <img class="img-sm" src="../assets/images/chevron_right_24dp_909090_FILL0_wght400_GRAD0_opsz24.png"
                    alt="chevron_right">
              </a>
              </li>
              <li class="list-group-item p-0 border-0">
                <a href="course-list.html"
                  class="btn btn-white text-neutral-80 fs-6 text w-100 d-flex py-8 ps-4 pe-8  align-items-center justify-content-between rounded-4">
                  網站架設
                  <img class="img-sm" src="../assets/images/chevron_right_24dp_909090_FILL0_wght400_GRAD0_opsz24.png"
                    alt="chevron_right">
              </a>
              </li>
              <li class="list-group-item p-0  border-0">
                <a href="course-list.html"
                  class="btn btn-white text-neutral-80 fs-6 text w-100 d-flex py-8 ps-4 pe-8  align-items-center justify-content-between rounded-4">
                  資訊安全
                  <img class="img-sm" src="../assets/images/chevron_right_24dp_909090_FILL0_wght400_GRAD0_opsz24.png"
                    alt="chevron_right">
              </a>
              </li>
              <li class="list-group-item p-0  border-0">
                <a href="course-list.html"
                  class="btn btn-white text-neutral-80 fs-6 text w-100 d-flex py-8 ps-4 pe-8  align-items-center justify-content-between rounded-4">
                  程式語言
                  <img class="img-sm" src="../assets/images/chevron_right_24dp_909090_FILL0_wght400_GRAD0_opsz24.png"
                    alt="chevron_right">
              </a>
              </li>
              <li class="list-group-item p-0  border-0">
                <a href="course-list.html"
                  class="btn btn-white text-neutral-80 fs-6 text w-100 d-flex py-8 ps-4 pe-8  align-items-center justify-content-between rounded-4">
                  遊戲開發
                  <img class="img-sm" src="../assets/images/chevron_right_24dp_909090_FILL0_wght400_GRAD0_opsz24.png"
                    alt="chevron_right">
              </a>
              </li>
              <li class="list-group-item p-0  border-0">
                <a href="course-list.html"
                  class="btn btn-white text-neutral-80 fs-6 text w-100 d-flex py-8 ps-4 pe-8  align-items-center justify-content-between rounded-4">
                  資料科學
                  <img class="img-sm" src="../assets/images/chevron_right_24dp_909090_FILL0_wght400_GRAD0_opsz24.png"
                    alt="chevron_right">
              </a>
              </li>
              <li class="list-group-item p-0  border-0">
                <a href="course-list.html"
                  class="btn btn-white text-neutral-80 fs-6 text w-100 d-flex py-8 ps-4 pe-8  align-items-center justify-content-between rounded-4">
                  人工智慧
                  <img class="img-sm" src="../assets/images/chevron_right_24dp_909090_FILL0_wght400_GRAD0_opsz24.png"
                    alt="chevron_right">
              </a>
              </li>
              <li class="list-group-item p-0  border-0">
                <a href="course-list.html"
                  class="btn btn-white text-neutral-80 fs-6 text w-100 d-flex py-8 ps-4 pe-8  align-items-center justify-content-between rounded-4">
                  量化分析
                  <img class="img-sm" src="../assets/images/chevron_right_24dp_909090_FILL0_wght400_GRAD0_opsz24.png"
                    alt="chevron_right">
              </a>
              </li>
            </ul>
            <!-- 熱門 -->
             <ul class="px-4 pt-8 w-100 m-0">
              <li class="d-flex pb-3 border-bottom border-neutral-40 mb-3">
                <img class="img-sm me-2" src="../assets/images/icons/ic_fire.png" alt="fire">
                <p class="text-neutral-80 fw-semibold fs-6 m-0">熱門網頁前端課程</p>
              </li>
              <li class="list-group-item pb-4 border-bottom border-neutral-40 mb-3">
                <div class="d-flex">           
                    <div class="position-relative">
                      <img class="img-100" src="../assets/images/course-5.png" alt="">
                      <p class="position-absolute top-0 start-0 bg-error-10 text-error-100 py-1 px-2 d-inline rounded-pill mt-1 ms-1">8折</p>
                    </div>
                    <div class="ms-2 ">
                      <div class="pb-2 mb-2 border-bottom border-neutral-40">
                        <h2 class="fw-semibold fs-6 mb-3">小白也會！從零開始學習 Python 程式設計</h2>
                        <div class="d-flex align-items-center justify-content-between">
                          <div class="d-flex align-items-center">
                            <img class="me-2" src="../assets/images/avatar-2.png" alt="user">
                            <p class="text-neutral-80 mb-0">Kelly Hsu</p>
                          </div>
                          <div>
                            <p class="m-0 text-blue-100 fs-6">NT$ 2,480</p>
                            <p class="m-0 text-neutral-60 fs-9 text-end text-decoration-line-through ">NT$ 3,200</p>
                          </div>
                        </div>
                      </div>
                      <div class="d-flex align-items-center justify-content-between">
                        <p class="mb-2 text-neutral-80 fs-8">已有420位同學加入</p>
                        <div class="d-flex align-items-center">
                          <img class="img-smsm" src="../assets/images/icons/star_24dp_F6BD2B_FILL1_wght400_GRAD0_opsz24.png" alt="">
                          <p class="m-0 fs-8  mx-1">4.0</p>
                          <p class="m-0 fs-8 text-neutral-60">(333)</p>
                        </div>
                      </div>
                    </div>

                </div>
              </li>

              <li class="list-group-item pb-4 border-bottom border-neutral-40 mb-3">
                <div class="d-flex">
                  <div class="position-relative">
                    <img class="img-100" src="../assets/images/course-5.png" alt="">
                    <p class="position-absolute top-0 start-0 bg-error-10 text-error-100 py-1 px-2 d-inline rounded-pill mt-1 ms-1">8折
                    </p>
                  </div>
                  <div class="ms-2 ">
                    <div class="pb-2 mb-2 border-bottom border-neutral-40">
                      <h2 class="fw-semibold fs-6 mb-3">小白也會！從零開始學習 Python 程式設計</h2>
                      <div class="d-flex align-items-center justify-content-between">
                        <div class="d-flex align-items-center">
                          <img class="me-2" src="../assets/images/avatar-2.png" alt="user">
                          <p class="text-neutral-80 mb-0">Kelly Hsu</p>
                        </div>
                        <div>
                          <p class="m-0 text-neutral-60 text-end fs-6">已購買</p>
                          <p class="m-0 text-neutral-60 fs-9 text-end text-decoration-line-through ">NT$ 3,200</p>
                        </div>
                      </div>
                    </div>
                    <div class="d-flex align-items-center justify-content-between">
                      <p class="mb-2 text-neutral-80 fs-8">已有420位同學加入</p>
                      <div class="d-flex align-items-center">
                        <img class="img-smsm" src="../assets/images/icons/star_24dp_F6BD2B_FILL1_wght400_GRAD0_opsz24.png" alt="">
                        <p class="m-0 fs-8  mx-1">4.0</p>
                        <p class="m-0 fs-8 text-neutral-60">(333)</p>
                      </div>
                    </div>
                  </div>
              
                </div>
              </li>

              <li class="list-group-item">
                <div class="d-flex">
                  <div class="position-relative">
                    <img class="img-100" src="../assets/images/course-5.png" alt="">
                    <p class="position-absolute top-0 start-0 bg-error-10 text-error-100 py-1 px-2 d-inline rounded-pill mt-1 ms-1">8折
                    </p>
                  </div>
                  <div class="ms-2 ">
                    <div class="pb-2 mb-2 border-bottom border-neutral-40">
                      <h2 class="fw-semibold fs-6 mb-3">小白也會！從零開始學習 Python 程式設計</h2>
                      <div class="d-flex align-items-center justify-content-between">
                        <div class="d-flex align-items-center">
                          <img class="me-2" src="../assets/images/avatar-2.png" alt="user">
                          <p class="text-neutral-80 mb-0">Kelly Hsu</p>
                        </div>
                        <div>
                          <p class="m-0 text-blue-100 fs-6">NT$ 2,480</p>
                          <p class="m-0 text-neutral-60 fs-9 text-end text-decoration-line-through ">NT$ 3,200</p>
                        </div>
                      </div>
                    </div>
                    <div class="d-flex align-items-center justify-content-between">
                      <p class="mb-2 text-neutral-80 fs-8">已有420位同學加入</p>
                      <div class="d-flex align-items-center">
                        <img class="img-smsm" src="../assets/images/icons/star_24dp_F6BD2B_FILL1_wght400_GRAD0_opsz24.png" alt="">
                        <p class="m-0 fs-8  mx-1">4.0</p>
                        <p class="m-0 fs-8 text-neutral-60">(333)</p>
                      </div>
                    </div>
                  </div>
              
                </div>
              </li>
             </ul>
          </div>
          </div>
      </div>

      <form class="position-relative  d-none d-lg-block z-top">
          <input type="text" class="form-control ps-6 py-13 pe-14 rounded-4" placeholder="搜尋各種音樂、數學、程式及設計課程">
          <img class="img-sm position-absolute translate-middle-y  top-50 start-0 ms-2" src="../assets/images/icons/search_24dp_000000_FILL0_wght400_GRAD0_opsz24.png" alt="">
          <button class="position-absolute end-0 top-50 me-2 translate-middle-y  btn btn-blue-100 text-white fw-semibold py-8 px-3 rounded-5" type="button" >搜尋</button>
      </form>
    </div>

    <div class="d-lg-flex flex-lg-row-reverse">
      <div class="d-flex align-items-center">  
          <!-- 提醒 -->
          <a class="py-2 px-8 me-lg-3 position-relative" type="button" id="notifi" data-bs-auto-close="outside" data-bs-toggle="dropdown" aria-expanded="false">
            <img class="img-sm bg-circl" src="../assets/images/icons/notifications_24dp_000000_FILL0_wght400_GRAD0_opsz24.png" alt="notifi">
            <div class="circl position-absolute mt-1 me-2 top-0 end-0"></div>
          </a>

           <ul class="dropdown-menu container-noti rounded-4 mt-2  py-8 overflow-hidden " aria-labelledby="notifi" >
            <li class="text-blue-100 pb-8 px-3 d-flex justify-content-end align-items-center"> 
              <img class="img-noti " src="../assets/images/check_circle_24dp_0068FF_FILL1_wght300_GRAD0_opsz24.png" alt="">
              全部標記為已讀
            </li>
            <li class=" mb-8">
              <button class="focus-white d-flex align-items-center bg-neutral-10 border-0 focus-white px-3">
                <div class="p-2 bg-blue-10 me-3 rounded-circle">                
                  <img class="img-sm " src="../assets/images/icons/campaign_24dp_2AAFFC_FILL0_wght300_GRAD0_opsz24.png" alt="">
                </div>
                <div class="d-flex flex-column align-items-start">
                  <p class="text-start fs-6 text-neutral-80 mb-2">系統通知：6 月 30 日 02:00 網站系統排程更新</p>
                  <time class="text-start text-neutral-60 m-0">4天前</time>
                </div>
              </button>
            </li>

            <li class=" mb-8">
              <button class="focus-white d-flex align-items-center bg-neutral-10 border-0 focus-white px-3">
                <div class="p-2 bg-error-10 me-3 rounded-circle">
                  <img class="img-sm " src="../assets/images/icons/notifications_active_24dp_FF3A55_FILL0_wght300_GRAD0_opsz24.png" alt="">
                </div>
                <div class="d-flex flex-column align-items-start">
                  <p class="text-start fs-6 text-neutral-80 mb-2 container-noti-container">募資開課：您購買的募資課程已成功開課！將於 3 天後公布課綱！</p>
                  <time class="text-start text-neutral-60 m-0">7天前</time>
                </div>
              </button>
            </li>

            <li class=" mb-8">
              <button class="focus-white d-flex align-items-center bg-neutral-10 border-0 focus-white px-3">
                <div class="p-2 bg-error-10 me-3 rounded-circle">
                  <img class="img-sm " src="../assets/images/icons/notifications_active_24dp_FF3A55_FILL0_wght300_GRAD0_opsz24.png" alt="">
                </div>
                <div class="d-flex flex-column align-items-start">
                  <p class="text-start fs-6 text-neutral-80 mb-2 container-noti-container">募資開課：您購買的募資課程已成功開課！將於 3 天後公布課綱！</p>
                  <time class="text-start text-neutral-60 m-0">7天前</time>
                </div>
              </button>
            </li>


            
          </ul>
    
          <!-- 購物車-->
          <a class="py-2 px-8 me-lg-3 position-relative" type="button" href="Confirm-order.html">
            <img class="img-sm " src="../assets/images/icons/shopping_cart_24dp_000000_FILL0_wght400_GRAD0_opsz24.png" alt="shooping">
            <div class="circl-2 text-white fs-9 text-center position-absolute top-0 end-0 mt-1 me-2">2</div>
          </a>
          
          <!-- user -->

          <a class="d-none d-lg-block fw-semibold fs-6 text-neutral-80  text-decoration-none me-6" type="button" id="user" data-bs-auto-close="outside" data-bs-toggle="dropdown" aria-expanded="false">
            <img class="img-big me-2" src="../assets/images/avatar-1.png" alt="">
            Jessica
          </a>

           <ul class="dropdown-menu right-0 container-user rounded-4 mt-2  px-3 py-4 overflow-hidden " aria-labelledby="user" >
              <li class="d-flex align-items-center pb-3 border-bottom mb-3">
                <img class="img-big me-2" src="../assets/images/avatar-1.png" alt="">
                <div>
                  <h2 class="m-0 text-neutral-80 fs-6">Jessica</h2>
                  <h3 class="m-0 fs-8 text-neutral-60">學習初心者</h3>
                </div>
              </li>
              <li class="list-group-item p-0 border-0">
                <button class="hover-user position-relative btn btn-white text-neutral-80 fs-6 text w-100 d-flex py-8 ps-4 pe-8  align-items-center rounded-4">
                  <img class=" img-sm me-2 " src="../assets/images/icons/account_circle_24dp_FFFFFF_FILL1_wght300_GRAD0_opsz24.png" alt="">
                  <img class=" img-sm me-2 position-absolute top-0 start-0 mt-8 ms-4" src="../assets/images/icons/account_circle_24dp_909090_FILL0_wght400_GRAD0_opsz24.png" alt="">
                  個人檔案
                </button>
              </li>
              <li class="list-group-item p-0 border-0">
                <button class="hover-user position-relative btn btn-white text-neutral-80 fs-6 text w-100 d-flex py-8 ps-4 pe-8  align-items-center rounded-4">
                  <img class=" img-sm me-2" src="../assets/images/icons/bookmark_24dp_FFFFFF_FILL1_wght300_GRAD0_opsz24.png" alt="">
                  <img class=" img-sm me-2  position-absolute top-0 start-0 mt-8 ms-4" src="../assets/images/icons/bookmark_24dp_909090_FILL1_wght400_GRAD0_opsz24.png" alt="">
                  我的收藏
                </button>
              </li>
              <li class="list-group-item p-0 border-0 pb-3 mb-3 border-bottom">
                <button class="hover-user position-relative btn btn-white text-neutral-80 fs-6 text w-100 d-flex py-8 ps-4 pe-8  align-items-center rounded-4">
                  <img class="img-sm me-2" src="../assets/images/icons/settings_24dp_FFFFFF_FILL1_wght300_GRAD0_opsz24.png" alt="">
                  <img class="img-sm me-2  position-absolute top-0 start-0 mt-8 ms-4" src="../assets/images/icons/settings_24dp_909090_FILL0_wght300_GRAD0_opsz24.png" alt="">
                  帳號設定
                </button>
              </li>
              <li class="list-group-item p-0 border-0">
                <button class="hover-user position-relative btn btn-white text-neutral-80 fs-6 text w-100 d-flex py-8 ps-4 pe-8  align-items-center rounded-4">
                  <img class="img-sm me-2"  src="../assets/images/icons/article_24dp_FFFFFF_FILL1_wght300_GRAD0_opsz24.png" alt="">
                  <img class="img-sm me-2  position-absolute top-0 start-0 mt-8 ms-4" src="../assets/images/icons/article_24dp_909090_FILL0_wght300_GRAD0_opsz24.png" alt="">
                  訂單紀錄
                </button>
              </li>
              <li class="list-group-item p-0 border-0 pb-3 border-bottom mb-3">
                <button class="hover-user position-relative btn btn-white text-neutral-80 fs-6 text w-100 d-flex py-8 ps-4 pe-8  align-items-center rounded-4">
                  <img class="img-sm me-2" src="../assets/images/icons/edit_24dp_FFFFFF_FILL1_wght300_GRAD0_opsz24.png" alt="">
                  <img class="img-sm me-2 position-absolute top-0 start-0 mt-8 ms-4" src="../assets/images/icons/edit_24dp_909090_FILL1_wght300_GRAD0_opsz24.png" alt="">
                  作業成果
                </button>
              </li>
              <li class=" list-group-item p-0 border-0">
                <a class="hover-user btn btn-white text-neutral-80 fs-6 text w-100 d-flex py-8 ps-4 pe-8 align-items-center rounded-4"
                  href="index.html">
                  <img class="img-sm me-2" src="../assets/images/icons/move_item_24dp_FFFFFF_FILL1_wght300_GRAD0_opsz24.png" alt="">
                  <img class="img-sm me-2 position-absolute top-0 start-0 mt-8 ms-4" src="../assets/images/icons/move_item_24dp_909090_FILL0_wght300_GRAD0_opsz24.png" alt="">
                  登出
                </a>
              </li>
          </ul>
          <!-- 下拉選單 -->
          <button class="navbar-toggler p-2 rounded-0 border-0" type="button" data-bs-toggle="collapse" data-bs-target="#search"
            aria-controls="search" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon img-sm"></span>
          </button>  
      </div>
  
    </div> 
  </nav>

  <!-- 行動版 -->
  <div class="collapse navbar-collapse" id="search">
   <div class="list-group position-absolute-992 rounded-0 top-0 start-0 pt-3 pb-8 px-8 bg-white w-100  d-lg-none">
    <div class="row">
        <div class="col-12">
            <div class="list-group flex-row" id="list-tab" role="tablist">
                <a class="w-50 d-block list-group-item list-group-item-action text-center active z-top" id="search"
                    data-bs-toggle="list" href="#search-container" role="tab" aria-controls="search">探索</a>
                <a class="w-50  d-block list-group-item list-group-item-action text-center" id="list-profile-list"
                    data-bs-toggle="list" href="#list-profile" role="tab" aria-controls="list-profile">我的會員</a>
            </div>
        </div>
    
    
        <div class="col-12">
            <div class="tab-content" id="nav-tabContent">
    
                <!-- 1 -->
                <div class="tab-pane fade show active" id="search-container" role="tabpanel" aria-labelledby="search">
                    <ul class="list-group rounded-0  pt-3 pb-8 px-4 bg-white w-100 vh-100 d-lg-none">
                        <li class="list-group-item mb-2 w-55 p-0 border-0 border-bottom d-flex align-items-center justify-content-between">
                            <img class="ms-4 img-sm"
                                src="../assets/images/chevron_left_24dp_000000_FILL1_wght400_GRAD0_opsz24.png" alt="">
                            <h2 class="m-0 py-8 text-neutral-80  ms-3 fs-6 text-center">
                                所有程式
                            </h2>
                        </li>
                        <li class="list-group-item p-0 border-0">
                            <a href="course-list.html"
                                class="btn btn-white text-neutral-80 fs-6 text w-100 d-flex py-8 ps-4 pe-8  align-items-center justify-content-between rounded-4">
                                程式入門
                        </a>
                        </li>
                        <li class="list-group-item p-0 border-0">
                            <a href="course-list.html"
                                class="btn btn-white text-neutral-80 fs-6 text w-100 d-flex py-8 ps-4 pe-8  align-items-center justify-content-between rounded-4">
                                網頁前端
                        </a>
                        </li>
                        <li class="list-group-item p-0 border-0">
                            <a href="course-list.html"
                                class="btn btn-white text-neutral-80 fs-6 text w-100 d-flex py-8 ps-4 pe-8  align-items-center justify-content-between rounded-4">
                                網頁後端
                        </a>
                        </li>
                        <li class="list-group-item p-0 border-0">
                            <a href="course-list.html"
                                class="btn btn-white text-neutral-80 fs-6 text w-100 d-flex py-8 ps-4 pe-8  align-items-center justify-content-between rounded-4">
                                網站架設
                        </a>
                        </li>
                        <li class="list-group-item p-0  border-0">
                            <a href="course-list.html"
                                class="btn btn-white text-neutral-80 fs-6 text w-100 d-flex py-8 ps-4 pe-8  align-items-center justify-content-between rounded-4">
                                資訊安全
                        </a>
                        </li>
                        <li class="list-group-item p-0  border-0">
                            <a href="course-list.html"
                                class="btn btn-white text-neutral-80 fs-6 text w-100 d-flex py-8 ps-4 pe-8  align-items-center justify-content-between rounded-4">
                                程式語言
                        </a>
                        </li>
                        <li class="list-group-item p-0  border-0">
                            <a href="course-list.html"
                                class="btn btn-white text-neutral-80 fs-6 text w-100 d-flex py-8 ps-4 pe-8  align-items-center justify-content-between rounded-4">
                                遊戲開發
                        </a>
                        </li>
                        <li class="list-group-item p-0  border-0">
                            <a href="course-list.html"
                                class="btn btn-white text-neutral-80 fs-6 text w-100 d-flex py-8 ps-4 pe-8  align-items-center justify-content-between rounded-4">
                                資料科學
                        </a>
                        </li>
                        <li class="list-group-item p-0  border-0">
                            <a href="course-list.html"
                                class="btn btn-white text-neutral-80 fs-6 text w-100 d-flex py-8 ps-4 pe-8  align-items-center justify-content-between rounded-4">
                                人工智慧
                        </a>
                        </li>
                        <li class="list-group-item p-0  border-0">
                            <a href="course-list.html"
                                class="btn btn-white text-neutral-80 fs-6 text w-100 d-flex py-8 ps-4 pe-8  align-items-center justify-content-between rounded-4">
                                量化分析
                        </a>
                        </li>
    
                    </ul>
                </div>
    
                <!-- 2 -->
                <div class="tab-pane fade " id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">
                    <ul class="list-group pt-17  position-absolute-992 rounded-0 top-0 start-0 pt-3 pb-8 px-4 bg-white w-100 vh-100 d-lg-none">
                        <li class="d-flex align-items-center pb-3 border-bottom mb-3">
                          <img class="img-big me-2" src="../assets/images/avatar-1.png" alt="">
                          <div>
                            <h2 class="m-0 text-neutral-80 fs-6">Jessica</h2>
                            <h3 class="m-0 fs-8 text-neutral-60">學習初心者</h3>
                          </div>
                        </li>
                        <li class="list-group-item p-0 border-0">
                          <button
                            class="hover-user position-relative btn btn-white text-neutral-80 fs-6 text w-100 d-flex py-8 ps-4 pe-8  align-items-center rounded-4">
                            <img class=" img-sm me-2 " src="../assets/images/icons/account_circle_24dp_FFFFFF_FILL1_wght300_GRAD0_opsz24.png"
                              alt="">
                            <img class=" img-sm me-2 position-absolute top-0 start-0 mt-8 ms-4"
                              src="../assets/images/icons/account_circle_24dp_909090_FILL0_wght400_GRAD0_opsz24.png" alt="">
                            個人檔案
                          </button>
                        </li>
                        <li class="list-group-item p-0 border-0">
                          <button
                            class="hover-user position-relative btn btn-white text-neutral-80 fs-6 text w-100 d-flex py-8 ps-4 pe-8  align-items-center rounded-4">
                            <img class=" img-sm me-2" src="../assets/images/icons/bookmark_24dp_FFFFFF_FILL1_wght300_GRAD0_opsz24.png" alt="">
                            <img class=" img-sm me-2  position-absolute top-0 start-0 mt-8 ms-4"
                              src="../assets/images/icons/bookmark_24dp_909090_FILL1_wght400_GRAD0_opsz24.png" alt="">
                            我的收藏
                          </button>
                        </li>
                        <li class="list-group-item p-0 border-0 pb-3 mb-3 border-bottom">
                          <button
                            class="hover-user position-relative btn btn-white text-neutral-80 fs-6 text w-100 d-flex py-8 ps-4 pe-8  align-items-center rounded-4">
                            <img class="img-sm me-2" src="../assets/images/icons/settings_24dp_FFFFFF_FILL1_wght300_GRAD0_opsz24.png" alt="">
                            <img class="img-sm me-2  position-absolute top-0 start-0 mt-8 ms-4"
                              src="../assets/images/icons/settings_24dp_909090_FILL0_wght300_GRAD0_opsz24.png" alt="">
                            帳號設定
                          </button>
                        </li>
                        <li class="list-group-item p-0 border-0">
                          <button
                            class="hover-user position-relative btn btn-white text-neutral-80 fs-6 text w-100 d-flex py-8 ps-4 pe-8  align-items-center rounded-4">
                            <img class="img-sm me-2" src="../assets/images/icons/article_24dp_FFFFFF_FILL1_wght300_GRAD0_opsz24.png" alt="">
                            <img class="img-sm me-2  position-absolute top-0 start-0 mt-8 ms-4"
                              src="../assets/images/icons/article_24dp_909090_FILL0_wght300_GRAD0_opsz24.png" alt="">
                            訂單紀錄
                          </button>
                        </li>
                        <li class="list-group-item p-0 border-0 pb-3 border-bottom mb-3">
                          <button
                            class="hover-user position-relative btn btn-white text-neutral-80 fs-6 text w-100 d-flex py-8 ps-4 pe-8  align-items-center rounded-4">
                            <img class="img-sm me-2" src="../assets/images/icons/edit_24dp_FFFFFF_FILL1_wght300_GRAD0_opsz24.png" alt="">
                            <img class="img-sm me-2 position-absolute top-0 start-0 mt-8 ms-4"
                              src="../assets/images/icons/edit_24dp_909090_FILL1_wght300_GRAD0_opsz24.png" alt="">
                            作業成果
                          </button>
                        </li>
                        <li class="d-lg-none list-group-item p-0 mt-auto border-0">
                            <a class="btn btn-white text-neutral-80 fs-6 text w-100 d-flex py-8 ps-4 pe-8 ms-8 align-items-center rounded-4" href="index.html">
                                <img class="text-neutral-80 img-sm me-2"
                                    src="../assets/images/icons/move_item_24dp_909090_FILL0_wght300_GRAD0_opsz24.png" alt="">
                                登出
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    </div>
  </div>

</main>

