<main class="position-relative-992  z-top">
  <nav class="container d-flex align-items-center justify-content-between px-8 navbar navbar-expand-lg py-8 rounded-pill-992 shadow-sm mt-lg-6 mb-lg-3">
    <div class="d-flex align-items-center">
      
      <a class="ms-lg-6 navbar-brand p-0 me-4" href="index.html"><img class="img-logo py-7" src="../assets/images/logo.png" alt=""></a>

      <div class="d-none d-lg-block">
        <button class="bg-white border-0 dropdown-toggle px-4 fs-6" type="button" id="find" data-bs-toggle="dropdown"
          aria-expanded="false">
          探索
        </button>
        
        <div class=" container-search mt-2 pt-2 pb-1  rounded-4 dropdown-menu botton-0 start-50 translate-middle-x" aria-labelledby="find">
          <div class="d-flex">
            <!-- 探索全部  -->
            <ul class="px-8 box-1 m-0">
              <li class="list-group-item mb-2 p-0 border-0">
                <h2 class="m-0 py-8 text-neutral-80 ps-4 fs-6">
                  探索全部
                </h2>
              </li>
              <li class="list-group-item p-0 border-0">
                <button
                  class="btn btn-white text-neutral-80 fs-6 text w-100 d-flex py-8 ps-4 pe-8  align-items-center justify-content-between rounded-4">
                  音樂
                  <img class="img-sm" src="../assets/images/chevron_right_24dp_909090_FILL0_wght400_GRAD0_opsz24.png"
                    alt="chevron_right">
                </button>
              </li>
              <li class="list-group-item p-0 border-0">
                <button
                  class="btn btn-white text-neutral-80 fs-6 text w-100 d-flex py-8 ps-4 pe-8  align-items-center justify-content-between rounded-4">
                  攝影
                  <img class="img-sm" src="../assets/images/chevron_right_24dp_909090_FILL0_wght400_GRAD0_opsz24.png"
                    alt="chevron_right">
                </button>
              </li>
              <li class="list-group-item p-0 border-0">
                <button
                  class="btn btn-white text-neutral-80 fs-6 text w-100 d-flex py-8 ps-4 pe-8  align-items-center justify-content-between rounded-4">
                  程式
                  <img class="img-sm" src="../assets/images/chevron_right_24dp_909090_FILL0_wght400_GRAD0_opsz24.png"
                    alt="chevron_right">
                </button>
              </li>
              <li class="list-group-item p-0 border-0">
                <button
                  class="btn btn-white text-neutral-80 fs-6 text w-100 d-flex py-8 ps-4 pe-8  align-items-center justify-content-between rounded-4">
                  藝術
                  <img class="img-sm" src="../assets/images/chevron_right_24dp_909090_FILL0_wght400_GRAD0_opsz24.png"
                    alt="chevron_right">
                </button>
              </li>
              <li class="list-group-item p-0  border-0">
                <button
                  class="btn btn-white text-neutral-80 fs-6 text w-100 d-flex py-8 ps-4 pe-8  align-items-center justify-content-between rounded-4">
                  人文
                  <img class="img-sm" src="../assets/images/chevron_right_24dp_909090_FILL0_wght400_GRAD0_opsz24.png"
                    alt="chevron_right">
                </button>
              </li>
              <li class="list-group-item p-0  border-0">
                <button
                  class="btn btn-white text-neutral-80 fs-6 text w-100 d-flex py-8 ps-4 pe-8  align-items-center justify-content-between rounded-4">
                  行銷
                  <img class="img-sm" src="../assets/images/chevron_right_24dp_909090_FILL0_wght400_GRAD0_opsz24.png"
                    alt="chevron_right">
                </button>
              </li>
              <li class="list-group-item p-0  border-0">
                <button
                  class="btn btn-white text-neutral-80 fs-6 text w-100 d-flex py-8 ps-4 pe-8  align-items-center justify-content-between rounded-4">
                  投資理財
                  <img class="img-sm" src="../assets/images/chevron_right_24dp_909090_FILL0_wght400_GRAD0_opsz24.png"
                    alt="chevron_right">
                </button>
              </li>
              <li class="list-group-item p-0  border-0">
                <button
                  class="btn btn-white text-neutral-80 fs-6 text w-100 d-flex py-8 ps-4 pe-8  align-items-center justify-content-between rounded-4">
                  心靈成長
                  <img class="img-sm" src="../assets/images/chevron_right_24dp_909090_FILL0_wght400_GRAD0_opsz24.png"
                    alt="chevron_right">
                </button>
              </li>
              <li class="list-group-item p-0  border-0">
                <button
                  class="btn btn-white text-neutral-80 fs-6 text w-100 d-flex py-8 ps-4 pe-8  align-items-center justify-content-between rounded-4">
                  職場技能
                  <img class="img-sm" src="../assets/images/chevron_right_24dp_909090_FILL0_wght400_GRAD0_opsz24.png"
                    alt="chevron_right">
                </button>
              </li>
              <li class="list-group-item p-0  border-0">
                <button
                  class="btn btn-white text-neutral-80 fs-6 text w-100 d-flex py-8 ps-4 pe-8  align-items-center justify-content-between rounded-4">
                  生活品味
                  <img class="img-sm" src="../assets/images/chevron_right_24dp_909090_FILL0_wght400_GRAD0_opsz24.png"
                    alt="chevron_right">
                </button>
              </li>
              <li class="d-lg-none list-group-item p-0 mt-auto">
                <a class="btn btn-blue-100 text-white w-100 py-3" href="login.html" type="button">登入/註冊</a>
              </li>
            </ul>
            <!-- 所有程式 -->
            <ul class="px-8 box-1 m-0">
              <li class="list-group-item mb-2 p-0 border-0">
                <h2 class="m-0 py-8 text-neutral-80 ps-4 fs-6">
                  所有程式
                </h2>
              </li>
              <li class="list-group-item p-0 border-0">
                <a href="course-list-no.html"
                  class="btn btn-white text-neutral-80 fs-6 text w-100 d-flex py-8 ps-4 pe-8  align-items-center justify-content-between rounded-4">
                  程式入門
                  <img class="img-sm" src="../assets/images/chevron_right_24dp_909090_FILL0_wght400_GRAD0_opsz24.png"
                    alt="chevron_right">
                </a>
              </li>
              <li class="list-group-item p-0 border-0">
                <a href="course-list-no.html"
                  class="btn btn-white text-neutral-80 fs-6 text w-100 d-flex py-8 ps-4 pe-8  align-items-center justify-content-between rounded-4">
                  網頁前端
                  <img class="img-sm" src="../assets/images/chevron_right_24dp_909090_FILL0_wght400_GRAD0_opsz24.png"
                    alt="chevron_right">
                </a>
              </li>
              <li class="list-group-item p-0 border-0">
                <a href="course-list-no.html"
                  class="btn btn-white text-neutral-80 fs-6 text w-100 d-flex py-8 ps-4 pe-8  align-items-center justify-content-between rounded-4">
                  網頁後端
                  <img class="img-sm" src="../assets/images/chevron_right_24dp_909090_FILL0_wght400_GRAD0_opsz24.png"
                    alt="chevron_right">
                </a>
              </li>
              <li class="list-group-item p-0 border-0">
                <a href="course-list-no.html"
                  class="btn btn-white text-neutral-80 fs-6 text w-100 d-flex py-8 ps-4 pe-8  align-items-center justify-content-between rounded-4">
                  網站架設
                  <img class="img-sm" src="../assets/images/chevron_right_24dp_909090_FILL0_wght400_GRAD0_opsz24.png"
                    alt="chevron_right">
                </a>
              </li>
              <li class="list-group-item p-0  border-0">
                <a href="course-list-no.html"
                  class="btn btn-white text-neutral-80 fs-6 text w-100 d-flex py-8 ps-4 pe-8  align-items-center justify-content-between rounded-4">
                  資訊安全
                  <img class="img-sm" src="../assets/images/chevron_right_24dp_909090_FILL0_wght400_GRAD0_opsz24.png"
                    alt="chevron_right">
                </a>
              </li>
              <li class="list-group-item p-0  border-0">
                <a href="course-list-no.html"
                  class="btn btn-white text-neutral-80 fs-6 text w-100 d-flex py-8 ps-4 pe-8  align-items-center justify-content-between rounded-4">
                  程式語言
                  <img class="img-sm" src="../assets/images/chevron_right_24dp_909090_FILL0_wght400_GRAD0_opsz24.png"
                    alt="chevron_right">
                </a>
              </li>
              <li class="list-group-item p-0  border-0">
                <a href="course-list-no.html"
                  class="btn btn-white text-neutral-80 fs-6 text w-100 d-flex py-8 ps-4 pe-8  align-items-center justify-content-between rounded-4">
                  遊戲開發
                  <img class="img-sm" src="../assets/images/chevron_right_24dp_909090_FILL0_wght400_GRAD0_opsz24.png"
                    alt="chevron_right">
                </a>
              </li>
              <li class="list-group-item p-0  border-0">
                <a href="course-list-no.html"
                  class="btn btn-white text-neutral-80 fs-6 text w-100 d-flex py-8 ps-4 pe-8  align-items-center justify-content-between rounded-4">
                  資料科學
                  <img class="img-sm" src="../assets/images/chevron_right_24dp_909090_FILL0_wght400_GRAD0_opsz24.png"
                    alt="chevron_right">
                </a>
              </li>
              <li class="list-group-item p-0  border-0">
                <a href="course-list-no.html"
                  class="btn btn-white text-neutral-80 fs-6 text w-100 d-flex py-8 ps-4 pe-8  align-items-center justify-content-between rounded-4">
                  人工智慧
                  <img class="img-sm" src="../assets/images/chevron_right_24dp_909090_FILL0_wght400_GRAD0_opsz24.png"
                    alt="chevron_right">
                </a>
              </li>
              <li class="list-group-item p-0  border-0">
                <a href="course-list-no.html"
                  class="btn btn-white text-neutral-80 fs-6 text w-100 d-flex py-8 ps-4 pe-8  align-items-center justify-content-between rounded-4">
                  量化分析
                  <img class="img-sm" src="../assets/images/chevron_right_24dp_909090_FILL0_wght400_GRAD0_opsz24.png"
                    alt="chevron_right">
                </a>
              </li>
            </ul>
            <!-- 熱門 -->
             <ul class="px-4 pt-8 w-100 m-0">
              <li class="d-flex pb-3 border-bottom border-neutral-40 mb-3">
                <img class="img-sm me-2" src="../assets/images/icons/ic_fire.png" alt="fire">
                <p class="text-neutral-80 fw-semibold fs-6 m-0">熱門網頁前端課程</p>
              </li>
              <li class="list-group-item pb-4 border-bottom border-neutral-40 mb-3">
                <div class="d-flex">           
                    <div class="position-relative">
                      <img class="img-100" src="../assets/images/course-5.png" alt="">
                      <p class="position-absolute top-0 start-0 bg-error-10 text-error-100 py-1 px-2 d-inline rounded-pill mt-1 ms-1">8折</p>
                    </div>
                    <div class="ms-2 ">
                      <div class="pb-2 mb-2 border-bottom border-neutral-40">
                        <h2 class="fw-semibold fs-6 mb-3">小白也會！從零開始學習 Python 程式設計</h2>
                        <div class="d-flex align-items-center justify-content-between">
                          <div class="d-flex align-items-center">
                            <img class="me-2" src="../assets/images/avatar-2.png" alt="user">
                            <p class="text-neutral-80 mb-0">Kelly Hsu</p>
                          </div>
                          <div>
                            <p class="m-0 text-blue-100 fs-6">NT$ 2,480</p>
                            <p class="m-0 text-neutral-60 fs-9 text-end text-decoration-line-through ">NT$ 3,200</p>
                          </div>
                        </div>
                      </div>
                      <div class="d-flex align-items-center justify-content-between">
                        <p class="mb-2 text-neutral-80 fs-8">已有420位同學加入</p>
                        <div class="d-flex align-items-center">
                          <img class="img-smsm" src="../assets/images/icons/star_24dp_F6BD2B_FILL1_wght400_GRAD0_opsz24.png" alt="">
                          <p class="m-0 fs-8  mx-1">4.0</p>
                          <p class="m-0 fs-8 text-neutral-60">(333)</p>
                        </div>
                      </div>
                    </div>

                </div>
              </li>

              <li class="list-group-item pb-4 border-bottom border-neutral-40 mb-3">
                <div class="d-flex">
                  <div class="position-relative">
                    <img class="img-100" src="../assets/images/course-5.png" alt="">
                    <p class="position-absolute top-0 start-0 bg-error-10 text-error-100 py-1 px-2 d-inline rounded-pill mt-1 ms-1">8折
                    </p>
                  </div>
                  <div class="ms-2 ">
                    <div class="pb-2 mb-2 border-bottom border-neutral-40">
                      <h2 class="fw-semibold fs-6 mb-3">小白也會！從零開始學習 Python 程式設計</h2>
                      <div class="d-flex align-items-center justify-content-between">
                        <div class="d-flex align-items-center">
                          <img class="me-2" src="../assets/images/avatar-2.png" alt="user">
                          <p class="text-neutral-80 mb-0">Kelly Hsu</p>
                        </div>
                        <div>
                          <p class="m-0 text-neutral-60 text-end fs-6">已購買</p>
                          <p class="m-0 text-neutral-60 fs-9 text-end text-decoration-line-through ">NT$ 3,200</p>
                        </div>
                      </div>
                    </div>
                    <div class="d-flex align-items-center justify-content-between">
                      <p class="mb-2 text-neutral-80 fs-8">已有420位同學加入</p>
                      <div class="d-flex align-items-center">
                        <img class="img-smsm" src="../assets/images/icons/star_24dp_F6BD2B_FILL1_wght400_GRAD0_opsz24.png" alt="">
                        <p class="m-0 fs-8  mx-1">4.0</p>
                        <p class="m-0 fs-8 text-neutral-60">(333)</p>
                      </div>
                    </div>
                  </div>
              
                </div>
              </li>

              <li class="list-group-item">
                <div class="d-flex">
                  <div class="position-relative">
                    <img class="img-100" src="../assets/images/course-5.png" alt="">
                    <p class="position-absolute top-0 start-0 bg-error-10 text-error-100 py-1 px-2 d-inline rounded-pill mt-1 ms-1">8折
                    </p>
                  </div>
                  <div class="ms-2 ">
                    <div class="pb-2 mb-2 border-bottom border-neutral-40">
                      <h2 class="fw-semibold fs-6 mb-3">小白也會！從零開始學習 Python 程式設計</h2>
                      <div class="d-flex align-items-center justify-content-between">
                        <div class="d-flex align-items-center">
                          <img class="me-2" src="../assets/images/avatar-2.png" alt="user">
                          <p class="text-neutral-80 mb-0">Kelly Hsu</p>
                        </div>
                        <div>
                          <p class="m-0 text-blue-100 fs-6">NT$ 2,480</p>
                          <p class="m-0 text-neutral-60 fs-9 text-end text-decoration-line-through ">NT$ 3,200</p>
                        </div>
                      </div>
                    </div>
                    <div class="d-flex align-items-center justify-content-between">
                      <p class="mb-2 text-neutral-80 fs-8">已有420位同學加入</p>
                      <div class="d-flex align-items-center">
                        <img class="img-smsm" src="../assets/images/icons/star_24dp_F6BD2B_FILL1_wght400_GRAD0_opsz24.png" alt="">
                        <p class="m-0 fs-8  mx-1">4.0</p>
                        <p class="m-0 fs-8 text-neutral-60">(333)</p>
                      </div>
                    </div>
                  </div>
              
                </div>
              </li>
             </ul>
          </div>
          </div>
      </div>

      <form class="position-relative  d-none d-lg-block z-top">
          <input type="text" class="form-control ps-6 py-13 pe-14 rounded-4" placeholder="搜尋各種音樂、數學、程式及設計課程">
          <img class="img-sm position-absolute translate-middle-y  top-50 start-0 ms-2" src="../assets/images/icons/search_24dp_000000_FILL0_wght400_GRAD0_opsz24.png" alt="">
          <button class="position-absolute end-0 top-50 me-2 translate-middle-y  btn btn-blue-100 text-white fw-semibold py-8 px-3 rounded-5" type="button" >搜尋</button>
      </form>
    </div>

    <div class="d-lg-flex flex-lg-row-reverse">
      <div class="d-flex align-items-center">  
          <!-- 提醒 -->
          <a class="py-2 px-8 me-lg-3" type="button" id="notifi" data-bs-toggle="dropdown" aria-expanded="false">
            <img class="img-sm" src="../assets/images/icons/notifications_24dp_000000_FILL0_wght400_GRAD0_opsz24.png" alt="notifi">
          </a>

          <!-- 購物車 -->
          <a class="py-2 px-8 me-lg-3" type="button" id="shooping" data-bs-toggle="dropdown"
            aria-expanded="false">
            <img class="img-sm" src="../assets/images/icons/shopping_cart_24dp_000000_FILL0_wght400_GRAD0_opsz24.png" alt="shooping">
          </a>
          
          <!-- 登入/註冊 -->

          <a type="button" class="d-none d-lg-block btn btn-blue-100 py-3 px-9 text-white fw-semibold me-6" href="login.html">
            登入/註冊
          </a>

          <!-- 下拉選單 -->
          <button class="navbar-toggler p-2 rounded-0 border-0" type="button" data-bs-toggle="collapse" data-bs-target="#search"
            aria-controls="search" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon img-sm"></span>
          </button>  
      </div>
  
    </div> 
  </nav>

  <!-- 行動版 -->
  <div class="collapse navbar-collapse" id="search">
  <ul class="list-group position-absolute-992 rounded-0 top-0 start-0 pt-3 pb-8 px-4 bg-white w-100 vh-100 d-lg-none">
    <li class="list-group-item mb-2 p-0 border-0">
      <h2 class="m-0 py-8 text-neutral-80 ps-4 fs-6">
        探索全部
      </h2>
    </li>
    <li class="list-group-item p-0 border-0">
      <button
        class="hover-user btn btn-white text-neutral-80 fs-6 text w-100 d-flex py-8 ps-4 pe-8  align-items-center justify-content-between rounded-4">
        音樂
        <img class="img-sm" src="../assets/images/icons/chevron_right_24dp_FFFFFF_FILL1_wght300_GRAD0_opsz24.png" alt="">
        <img class="img-sm position-absolute end-0 me-8"
          src="../assets/images/chevron_right_24dp_909090_FILL0_wght400_GRAD0_opsz24.png" alt="chevron_right">
      </button>
    </li><li class="list-group-item p-0 border-0">
      <button
        class="hover-user btn btn-white text-neutral-80 fs-6 text w-100 d-flex py-8 ps-4 pe-8  align-items-center justify-content-between rounded-4">
        攝影
        <img class="img-sm" src="../assets/images/icons/chevron_right_24dp_FFFFFF_FILL1_wght300_GRAD0_opsz24.png" alt="">
        <img class="img-sm position-absolute end-0 me-8"
          src="../assets/images/chevron_right_24dp_909090_FILL0_wght400_GRAD0_opsz24.png" alt="chevron_right">
      </button>
    </li><li class="list-group-item p-0 border-0">
      <button
        class="hover-user btn btn-white text-neutral-80 fs-6 text w-100 d-flex py-8 ps-4 pe-8  align-items-center justify-content-between rounded-4">
        程式
        <img class="img-sm" src="../assets/images/icons/chevron_right_24dp_FFFFFF_FILL1_wght300_GRAD0_opsz24.png" alt="">
        <img class="img-sm position-absolute end-0 me-8"
          src="../assets/images/chevron_right_24dp_909090_FILL0_wght400_GRAD0_opsz24.png" alt="chevron_right">
      </button>
    </li><li class="list-group-item p-0 border-0">
      <button
        class="hover-user btn btn-white text-neutral-80 fs-6 text w-100 d-flex py-8 ps-4 pe-8  align-items-center justify-content-between rounded-4">
        藝術
        <img class="img-sm" src="../assets/images/icons/chevron_right_24dp_FFFFFF_FILL1_wght300_GRAD0_opsz24.png" alt="">
        <img class="img-sm position-absolute end-0 me-8"
          src="../assets/images/chevron_right_24dp_909090_FILL0_wght400_GRAD0_opsz24.png" alt="chevron_right">
      </button>
    </li><li class="list-group-item p-0 border-0">
      <button
        class="hover-user btn btn-white text-neutral-80 fs-6 text w-100 d-flex py-8 ps-4 pe-8  align-items-center justify-content-between rounded-4">
        人文
        <img class="img-sm" src="../assets/images/icons/chevron_right_24dp_FFFFFF_FILL1_wght300_GRAD0_opsz24.png" alt="">
        <img class="img-sm position-absolute end-0 me-8"
          src="../assets/images/chevron_right_24dp_909090_FILL0_wght400_GRAD0_opsz24.png" alt="chevron_right">
      </button>
    </li><li class="list-group-item p-0 border-0">
      <button
        class="hover-user btn btn-white text-neutral-80 fs-6 text w-100 d-flex py-8 ps-4 pe-8  align-items-center justify-content-between rounded-4">
        行銷
        <img class="img-sm" src="../assets/images/icons/chevron_right_24dp_FFFFFF_FILL1_wght300_GRAD0_opsz24.png" alt="">
        <img class="img-sm position-absolute end-0 me-8"
          src="../assets/images/chevron_right_24dp_909090_FILL0_wght400_GRAD0_opsz24.png" alt="chevron_right">
      </button>
    </li><li class="list-group-item p-0 border-0">
      <button
        class="hover-user btn btn-white text-neutral-80 fs-6 text w-100 d-flex py-8 ps-4 pe-8  align-items-center justify-content-between rounded-4">
        投資理財
        <img class="img-sm" src="../assets/images/icons/chevron_right_24dp_FFFFFF_FILL1_wght300_GRAD0_opsz24.png" alt="">
        <img class="img-sm position-absolute end-0 me-8"
          src="../assets/images/chevron_right_24dp_909090_FILL0_wght400_GRAD0_opsz24.png" alt="chevron_right">
      </button>
    </li><li class="list-group-item p-0 border-0">
      <button
        class="hover-user btn btn-white text-neutral-80 fs-6 text w-100 d-flex py-8 ps-4 pe-8  align-items-center justify-content-between rounded-4">
        心靈成長
        <img class="img-sm" src="../assets/images/icons/chevron_right_24dp_FFFFFF_FILL1_wght300_GRAD0_opsz24.png" alt="">
        <img class="img-sm position-absolute end-0 me-8"
          src="../assets/images/chevron_right_24dp_909090_FILL0_wght400_GRAD0_opsz24.png" alt="chevron_right">
      </button>
    </li><li class="list-group-item p-0 border-0">
      <button
        class="hover-user btn btn-white text-neutral-80 fs-6 text w-100 d-flex py-8 ps-4 pe-8  align-items-center justify-content-between rounded-4">
        職場技能
        <img class="img-sm" src="../assets/images/icons/chevron_right_24dp_FFFFFF_FILL1_wght300_GRAD0_opsz24.png" alt="">
        <img class="img-sm position-absolute end-0 me-8"
          src="../assets/images/chevron_right_24dp_909090_FILL0_wght400_GRAD0_opsz24.png" alt="chevron_right">
      </button>
    </li><li class="list-group-item p-0 border-0">
      <button
        class="hover-user btn btn-white text-neutral-80 fs-6 text w-100 d-flex py-8 ps-4 pe-8  align-items-center justify-content-between rounded-4">
        生活品味
        <img class="img-sm" src="../assets/images/icons/chevron_right_24dp_FFFFFF_FILL1_wght300_GRAD0_opsz24.png" alt="">
        <img class="img-sm position-absolute end-0 me-8"
          src="../assets/images/chevron_right_24dp_909090_FILL0_wght400_GRAD0_opsz24.png" alt="chevron_right">
      </button>
    </li>
    <li class="d-lg-none list-group-item p-0 mt-auto">
      <a class="btn btn-blue-100 text-white w-100 py-3" href="login.html" type="button">登入/註冊</a>
    </li> 
  </ul>
  </div>  
</main>

