<div class="swiper mySwiper-4 mb-4 d-lg-none">
    <div class="swiper-wrapper">

        <!-- 1 -->
        <div class="swiper-slide pb-13">
            <div class="card rounded-6 shadow border-0">
                <img src="../assets/images/course-4.png" class="rounded-top-6 " alt="course-4">
                <p
                    class="position-absolute top-0 start-0 fw-semibold bg-error-10 text-error-100 py-2 px-8  rounded-pill mt-3 ms-3">
                    限時 8 折 🔥</p>
                <div class="card-body py-3">
                    <h5 class="card-title fs-5 fw-bold">創意寫作工坊：從靈感到出版的全過程</h5>
                    <div class="d-flex justify-content-between align-items-center pb-3 border-bottom mb-3">
                        <p class="card-text fs-6 text-neutral-80 mb-0"> <img class="img-big me-2" src="../assets/images/avatar-2.png"
                                alt="">Kelly Hsu</p>
                        <div>
                            <p class="text-end m-0 fs-5 text-blue-100 fw-bold">NT$ 2,480</p>
                            <p class="text-end m-0 text-neutral-60 fs-8 text-decoration-line-through ">NT$ 3,200</p>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <div class="py-1 mb-1">
                                <p class="d-inline text-neutral-80 bg-neutral-40 py-1 px-8 rounded-pill mb-1">程式開發</p>
                            </div>
                            <p class="mb-0 text-neutral-80">已有 420 位同學加入</p>
                        </div>
                        <div class="d-flex align-items-center">
                            <img class="img-smsm" src="../assets/images/icons/star_24dp_F6BD2B_FILL1_wght400_GRAD0_opsz24.png" alt="">
                            <p class="m-0 fs-8  mx-1">4.0</p>
                            <p class="m-0 fs-8 text-neutral-60">(333)</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- 2 -->
        <div class="swiper-slide pb-13">

            <div class="card rounded-6 shadow border-0">
                <img src="../assets/images/course-5.png" class="rounded-top-6 " alt="course-4">
                <p
                    class="position-absolute top-0 start-0 fw-semibold  bg-error-10 text-error-100 py-2 px-8  rounded-pill mt-3 ms-3">
                    限時 8 折 🔥</p>
                <div class="card-body py-3">
                    <h5 class="card-title fs-5 fw-bold">小白也會！從零開始學習 Python 程式設計</h5>
                    <div class="d-flex justify-content-between align-items-center pb-3 border-bottom mb-3">
                        <p class="card-text fs-6 text-neutral-80 mb-0"> <img class="img-big me-2" src="../assets/images/avatar-2.png"
                                alt="">Kelly Hsu</p>
                        <div>
                            <p class="text-end m-0 fs-5 text-blue-100 fw-bold">NT$ 2,480</p>
                            <p class="text-end m-0 text-neutral-60 fs-8 text-decoration-line-through ">NT$ 3,200</p>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <div class="py-1 mb-1">
                                <p class="d-inline text-neutral-80 bg-neutral-40 py-1 px-8 rounded-pill mb-1">程式開發</p>
                            </div>
                            <p class="mb-0 text-neutral-80">已有 420 位同學加入</p>
                        </div>
                        <div class="d-flex align-items-center">
                            <img class="img-smsm" src="../assets/images/icons/star_24dp_F6BD2B_FILL1_wght400_GRAD0_opsz24.png" alt="">
                            <p class="m-0 fs-8  mx-1">4.0</p>
                            <p class="m-0 fs-8 text-neutral-60">(333)</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 3 -->
        <div class="swiper-slide pb-13">

            <div class="card rounded-6 shadow border-0">
                <img src="../assets/images/course-6.png" class="rounded-top-6 " alt="course-4">
                <p
                    class="position-absolute top-0 start-0 fw-semibold  bg-error-10 text-error-100 py-2 px-8  rounded-pill mt-3 ms-3">
                    限時 8 折 🔥</p>
                <div class="card-body py-3">
                    <h5 class="card-title fs-5 fw-bold pb-4">全面掌握 JavaScript 開發技術</h5>
                    <div class="d-flex justify-content-between align-items-center pb-3 border-bottom mb-3">
                        <p class="card-text fs-6 text-neutral-80 mb-0"> <img class="img-big me-2" src="../assets/images/avatar-2.png"
                                alt="">Kelly Hsu</p>
                        <div>
                            <p class="text-end m-0 fs-5 text-blue-100 fw-bold">NT$ 2,480</p>
                            <p class="text-end m-0 text-neutral-60 fs-8 text-decoration-line-through ">NT$ 3,200</p>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <div class="py-1 mb-1">
                                <p class="d-inline text-neutral-80 bg-neutral-40 py-1 px-8 rounded-pill mb-1">程式開發</p>
                            </div>
                            <p class="mb-0 text-neutral-80">已有 420 位同學加入</p>
                        </div>
                        <div class="d-flex align-items-center">
                            <img class="img-smsm" src="../assets/images/icons/star_24dp_F6BD2B_FILL1_wght400_GRAD0_opsz24.png" alt="">
                            <p class="m-0 fs-8  mx-1">4.0</p>
                            <p class="m-0 fs-8 text-neutral-60">(333)</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 4 -->
        <div class="swiper-slide pb-13">

            <div class="card rounded-6 shadow border-0">
                <img src="../assets/images/course-7.png" class="rounded-top-6 pb-1" alt="course-4">
                <p
                    class="position-absolute top-0 start-0 fw-semibold bg-error-10 text-error-100 py-2 px-8  rounded-pill mt-3 ms-3">
                    限時 8 折 🔥</p>
                <div class="card-body py-3">
                    <h5 class="card-title fs-5 fw-bold pb-4">HTML & CSS 網頁設計基礎教程</h5>
                    <div class="d-flex justify-content-between align-items-center pb-3 border-bottom mb-3">
                        <p class="card-text fs-6 text-neutral-80 mb-0"> <img class="img-big me-2" src="../assets/images/avatar-2.png" alt="">Kelly Hsu</p>
                        <div>
                            <p class="text-end m-0 fs-5 text-blue-100 fw-bold">NT$ 2,480</p>
                            <p class="text-end m-0 text-neutral-60 fs-8 text-decoration-line-through ">NT$ 3,200</p>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <div class="py-1 mb-1">
                                <p class="d-inline text-neutral-80 bg-neutral-40 py-1 px-8 rounded-pill mb-1">程式開發</p>
                            </div>
                            <p class="mb-0 text-neutral-80">已有 420 位同學加入</p>
                        </div>
                        <div class="d-flex align-items-center">
                            <img class="img-smsm" src="../assets/images/icons/star_24dp_F6BD2B_FILL1_wght400_GRAD0_opsz24.png" alt="">
                            <p class="m-0 fs-8  mx-1">4.0</p>
                            <p class="m-0 fs-8 text-neutral-60">(333)</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 5 -->
        <div class="swiper-slide pb-13">
            <div class="card rounded-6 shadow border-0">
                <img src="../assets/images/course-8.png" class="rounded-top-6 " alt="course-4">
                <p
                    class="position-absolute top-0 start-0 fw-semibold bg-error-10 text-error-100 py-2 px-8  rounded-pill mt-3 ms-3">
                    限時 8 折 🔥</p>
                <div class="card-body py-3">
                    <h5 class="card-title fs-5 fw-bold">更進一步！深入學習 Node.js 與後端開發</h5>
                    <div class="d-flex justify-content-between align-items-center pb-3 border-bottom mb-3">
                        <p class="card-text fs-6 text-neutral-80 mb-0"> <img class="img-big me-2"
                                src="../assets/images/avatar-2.png" alt="">Kelly Hsu</p>
                        <div>
                            <p class="text-end m-0 fs-5 text-blue-100 fw-bold">NT$ 2,480</p>
                            <p class="text-end m-0 text-neutral-60 fs-8 text-decoration-line-through ">NT$ 3,200</p>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <div class="py-1 mb-1">
                                <p class="d-inline text-neutral-80 bg-neutral-40 py-1 px-8 rounded-pill mb-1">程式開發</p>
                            </div>
                            <p class="mb-0 text-neutral-80">已有 420 位同學加入</p>
                        </div>
                        <div class="d-flex align-items-center">
                            <img class="img-smsm" src="../assets/images/icons/star_24dp_F6BD2B_FILL1_wght400_GRAD0_opsz24.png"
                                alt="">
                            <p class="m-0 fs-8  mx-1">4.0</p>
                            <p class="m-0 fs-8 text-neutral-60">(333)</p>
                        </div>
                    </div>
        
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <div class="swiper mySwiper-card  d-none d-lg-block">
        <div class="swiper-wrapper ">
            <!-- 1 -->
            <div class="swiper-slide pb-13 d-flex">
                <div class="card w-25 me-4 rounded-6 shadow border-0">
                    <img src="../assets/images/course-4.png" class="rounded-top-6 " alt="course-4">
                    <p
                        class="position-absolute top-0 start-0 fw-semibold bg-error-10 text-error-100 py-2 px-8  rounded-pill mt-3 ms-3">
                        限時 8 折 🔥</p>
                    <div class="card-body py-3">
                        <h5 class="card-title fs-5 fw-bold">創意寫作工坊：從靈感到出版的全過程</h5>
                        <div class="d-flex justify-content-between align-items-center pb-3 border-bottom mb-3">
                            <p class="card-text fs-6 text-neutral-80 mb-0"> <img class="img-big me-2"
                                    src="../assets/images/avatar-2.png" alt="">Kelly Hsu</p>
                            <div>
                                <p class="text-end m-0 fs-5 text-blue-100 fw-bold">NT$ 2,480</p>
                                <p class="text-end m-0 text-neutral-60 fs-8 text-decoration-line-through ">NT$ 3,200</p>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between align-items-center">
                            <div>
                                <div class="py-1 mb-1">
                                    <p class="d-inline text-neutral-80 bg-neutral-40 py-1 px-8 rounded-pill mb-1">程式開發</p>
                                </div>
                                <p class="mb-0 text-neutral-80">已有 420 位同學加入</p>
                            </div>
                            <div class="d-flex align-items-center">
                                <img class="img-smsm" src="../assets/images/icons/star_24dp_F6BD2B_FILL1_wght400_GRAD0_opsz24.png"
                                    alt="">
                                <p class="m-0 fs-8  mx-1">4.0</p>
                                <p class="m-0 fs-8 text-neutral-60">(333)</p>
                            </div>
                        </div>
            
                    </div>
                </div>
                <div class="card w-25 me-4 rounded-6 shadow border-0">
                    <img src="../assets/images/course-5.png" class="rounded-top-6 " alt="course-4">
                    <p
                        class="position-absolute top-0 start-0 fw-semibold  bg-error-10 text-error-100 py-2 px-8  rounded-pill mt-3 ms-3">
                        限時 8 折 🔥</p>
                    <div class="card-body py-3">
                        <h5 class="card-title fs-5 fw-bold">小白也會！從零開始學習 Python 程式設計</h5>
                        <div class="d-flex justify-content-between align-items-center pb-3 border-bottom mb-3">
                            <p class="card-text fs-6 text-neutral-80 mb-0"> <img class="img-big me-2"
                                    src="../assets/images/avatar-2.png" alt="">Kelly Hsu</p>
                            <div>
                                <p class="text-end m-0 fs-5 text-blue-100 fw-bold">NT$ 2,480</p>
                                <p class="text-end m-0 text-neutral-60 fs-8 text-decoration-line-through ">NT$ 3,200</p>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between align-items-center">
                            <div>
                                <div class="py-1 mb-1">
                                    <p class="d-inline text-neutral-80 bg-neutral-40 py-1 px-8 rounded-pill mb-1">程式開發</p>
                                </div>
                                <p class="mb-0 text-neutral-80">已有 420 位同學加入</p>
                            </div>
                            <div class="d-flex align-items-center">
                                <img class="img-smsm" src="../assets/images/icons/star_24dp_F6BD2B_FILL1_wght400_GRAD0_opsz24.png"
                                    alt="">
                                <p class="m-0 fs-8  mx-1">4.0</p>
                                <p class="m-0 fs-8 text-neutral-60">(333)</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card w-25 me-4 rounded-6 shadow border-0">
                    <img src="../assets/images/course-6.png" class="rounded-top-6 " alt="course-4">
                    <p
                        class="position-absolute top-0 start-0 fw-semibold  bg-error-10 text-error-100 py-2 px-8  rounded-pill mt-3 ms-3">
                        限時 8 折 🔥</p>
                    <div class="card-body py-3">
                        <h5 class="card-title fs-5 fw-bold">全面掌握 JavaScript 開發技術</h5>
                        <div class="d-flex justify-content-between align-items-center pb-3 border-bottom mb-3">
                            <p class="card-text fs-6 text-neutral-80 mb-0"> <img class="img-big me-2"
                                    src="../assets/images/avatar-2.png" alt="">Kelly Hsu</p>
                            <div>
                                <p class="text-end m-0 fs-5 text-blue-100 fw-bold">NT$ 2,480</p>
                                <p class="text-end m-0 text-neutral-60 fs-8 text-decoration-line-through ">NT$ 3,200</p>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between align-items-center">
                            <div>
                                <div class="py-1 mb-1">
                                    <p class="d-inline text-neutral-80 bg-neutral-40 py-1 px-8 rounded-pill mb-1">程式開發</p>
                                </div>
                                <p class="mb-0 text-neutral-80">已有 420 位同學加入</p>
                            </div>
                            <div class="d-flex align-items-center">
                                <img class="img-smsm" src="../assets/images/icons/star_24dp_F6BD2B_FILL1_wght400_GRAD0_opsz24.png"
                                    alt="">
                                <p class="m-0 fs-8  mx-1">4.0</p>
                                <p class="m-0 fs-8 text-neutral-60">(333)</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card w-25  rounded-6 shadow border-0">
                    <img src="../assets/images/course-7.png" class="rounded-top-6 " alt="course-4">
                    <p class="position-absolute top-0 start-0 fw-semibold bg-error-10 text-error-100 py-2 px-8  rounded-pill mt-3 ms-3">
                        限時 8 折 🔥</p>
                    <div class="card-body py-3">
                        <h5 class="card-title fs-5 fw-bold">HTML & CSS 網頁設計基礎教程</h5>
                        <div class="d-flex justify-content-between align-items-center pb-3 border-bottom mb-3">
                            <p class="card-text fs-6 text-neutral-80 mb-0"> <img class="img-big me-2"
                                    src="../assets/images/avatar-2.png" alt="">Kelly Hsu</p>
                            <div>
                                <p class="text-end m-0 fs-5 text-blue-100 fw-bold">NT$ 2,480</p>
                                <p class="text-end m-0 text-neutral-60 fs-8 text-decoration-line-through ">NT$ 3,200</p>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between align-items-center">
                            <div>
                                <div class="py-1 mb-1">
                                    <p class="d-inline text-neutral-80 bg-neutral-40 py-1 px-8 rounded-pill mb-1">程式開發</p>
                                </div>
                                <p class="mb-0 text-neutral-80">已有 420 位同學加入</p>
                            </div>
                            <div class="d-flex align-items-center">
                                <img class="img-smsm" src="../assets/images/icons/star_24dp_F6BD2B_FILL1_wght400_GRAD0_opsz24.png"
                                    alt="">
                                <p class="m-0 fs-8  mx-1">4.0</p>
                                <p class="m-0 fs-8 text-neutral-60">(333)</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           <!-- 2 -->
            <div class="swiper-slide pb-13 d-flex">        
                <div class="card w-25 me-4 rounded-6 shadow border-0">
                    <img src="../assets/images/course-8.png" class="rounded-top-6 " alt="course-4">
                    <p class="position-absolute top-0 start-0 fw-semibold bg-error-10 text-error-100 py-2 px-8  rounded-pill mt-3 ms-3">
                        限時 8 折 🔥</p>
                    <div class="card-body py-3">
                        <h5 class="card-title fs-5 fw-bold">更進一步！深入學習 Node.js 與後端開發</h5>
                        <div class="d-flex justify-content-between align-items-center pb-3 border-bottom mb-3">
                            <p class="card-text fs-6 text-neutral-80 mb-0"> <img class="img-big me-2"
                                    src="../assets/images/avatar-2.png" alt="">Kelly Hsu</p>
                            <div>
                                <p class="text-end m-0 fs-5 text-blue-100 fw-bold">NT$ 2,480</p>
                                <p class="text-end m-0 text-neutral-60 fs-8 text-decoration-line-through ">NT$ 3,200</p>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between align-items-center">
                            <div>
                                <div class="py-1 mb-1">
                                    <p class="d-inline text-neutral-80 bg-neutral-40 py-1 px-8 rounded-pill mb-1">程式開發</p>
                                </div>
                                <p class="mb-0 text-neutral-80">已有 420 位同學加入</p>
                            </div>
                            <div class="d-flex align-items-center">
                                <img class="img-smsm" src="../assets/images/icons/star_24dp_F6BD2B_FILL1_wght400_GRAD0_opsz24.png"
                                    alt="">
                                <p class="m-0 fs-8  mx-1">4.0</p>
                                <p class="m-0 fs-8 text-neutral-60">(333)</p>
                            </div>
                        </div>
                
                    </div>
                </div>
                <div class="card w-25 me-4 rounded-6 shadow border-0">
                    <img src="../assets/images/course-4.png" class="rounded-top-6 " alt="course-4">
                    <p class="position-absolute top-0 start-0 fw-semibold bg-error-10 text-error-100 py-2 px-8  rounded-pill mt-3 ms-3">
                        限時 8 折 🔥</p>
                    <div class="card-body py-3">
                        <h5 class="card-title fs-5 fw-bold">創意寫作工坊：從靈感到出版的全過程</h5>
                        <div class="d-flex justify-content-between align-items-center pb-3 border-bottom mb-3">
                            <p class="card-text fs-6 text-neutral-80 mb-0"> <img class="img-big me-2"
                                    src="../assets/images/avatar-2.png" alt="">Kelly Hsu</p>
                            <div>
                                <p class="text-end m-0 fs-5 text-blue-100 fw-bold">NT$ 2,480</p>
                                <p class="text-end m-0 text-neutral-60 fs-8 text-decoration-line-through ">NT$ 3,200</p>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between align-items-center">
                            <div>
                                <div class="py-1 mb-1">
                                    <p class="d-inline text-neutral-80 bg-neutral-40 py-1 px-8 rounded-pill mb-1">程式開發</p>
                                </div>
                                <p class="mb-0 text-neutral-80">已有 420 位同學加入</p>
                            </div>
                            <div class="d-flex align-items-center">
                                <img class="img-smsm" src="../assets/images/icons/star_24dp_F6BD2B_FILL1_wght400_GRAD0_opsz24.png"
                                    alt="">
                                <p class="m-0 fs-8  mx-1">4.0</p>
                                <p class="m-0 fs-8 text-neutral-60">(333)</p>
                            </div>
                        </div>
                
                    </div>
                </div>
                <div class="card w-25 me-4 rounded-6 shadow border-0">
                    <img src="../assets/images/course-5.png" class="rounded-top-6 " alt="course-4">
                    <p
                        class="position-absolute top-0 start-0 fw-semibold  bg-error-10 text-error-100 py-2 px-8  rounded-pill mt-3 ms-3">
                        限時 8 折 🔥</p>
                    <div class="card-body py-3">
                        <h5 class="card-title fs-5 fw-bold">小白也會！從零開始學習 Python 程式設計</h5>
                        <div class="d-flex justify-content-between align-items-center pb-3 border-bottom mb-3">
                            <p class="card-text fs-6 text-neutral-80 mb-0"> <img class="img-big me-2"
                                    src="../assets/images/avatar-2.png" alt="">Kelly Hsu</p>
                            <div>
                                <p class="text-end m-0 fs-5 text-blue-100 fw-bold">NT$ 2,480</p>
                                <p class="text-end m-0 text-neutral-60 fs-8 text-decoration-line-through ">NT$ 3,200</p>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between align-items-center">
                            <div>
                                <div class="py-1 mb-1">
                                    <p class="d-inline text-neutral-80 bg-neutral-40 py-1 px-8 rounded-pill mb-1">程式開發</p>
                                </div>
                                <p class="mb-0 text-neutral-80">已有 420 位同學加入</p>
                            </div>
                            <div class="d-flex align-items-center">
                                <img class="img-smsm" src="../assets/images/icons/star_24dp_F6BD2B_FILL1_wght400_GRAD0_opsz24.png"
                                    alt="">
                                <p class="m-0 fs-8  mx-1">4.0</p>
                                <p class="m-0 fs-8 text-neutral-60">(333)</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card w-25 rounded-6 shadow border-0">
                    <img src="../assets/images/course-6.png" class="rounded-top-6 " alt="course-4">
                    <p
                        class="position-absolute top-0 start-0 fw-semibold  bg-error-10 text-error-100 py-2 px-8  rounded-pill mt-3 ms-3">
                        限時 8 折 🔥</p>
                    <div class="card-body py-3">
                        <h5 class="card-title fs-5 fw-bold">全面掌握 JavaScript 開發技術</h5>
                        <div class="d-flex justify-content-between align-items-center pb-3 border-bottom mb-3">
                            <p class="card-text fs-6 text-neutral-80 mb-0"> <img class="img-big me-2"
                                    src="../assets/images/avatar-2.png" alt="">Kelly Hsu</p>
                            <div>
                                <p class="text-end m-0 fs-5 text-blue-100 fw-bold">NT$ 2,480</p>
                                <p class="text-end m-0 text-neutral-60 fs-8 text-decoration-line-through ">NT$ 3,200</p>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between align-items-center">
                            <div>
                                <div class="py-1 mb-1">
                                    <p class="d-inline text-neutral-80 bg-neutral-40 py-1 px-8 rounded-pill mb-1">程式開發</p>
                                </div>
                                <p class="mb-0 text-neutral-80">已有 420 位同學加入</p>
                            </div>
                            <div class="d-flex align-items-center">
                                <img class="img-smsm" src="../assets/images/icons/star_24dp_F6BD2B_FILL1_wght400_GRAD0_opsz24.png"
                                    alt="">
                                <p class="m-0 fs-8  mx-1">4.0</p>
                                <p class="m-0 fs-8 text-neutral-60">(333)</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- <script>
    var swiper = new Swiper(".mySwiper-card", {
        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
        },
    });
</script> -->