<main class=" bg-blue-100 rounded-7 d-lg-none">
    <article class="px-3 py-10">
        <div class="mb-6">
            <img class="mb-2" src="../assets/images/deco/polygon-1.png" alt="polygon-1">
            <p class="fs-7 text-white fw-semibold mb-2">想學什麼嗎？</p>
            <p class="fs-7 text-white fw-semibold mb-2">一探究竟。</p>
            <img class="w-100" src="../assets/images/deco/line-2.png" alt="line-2.png">
        </div>

        <div class="swiper mySwiper">
            <div class="swiper-wrapper">

                <div class="swiper-slide ">

                    <div class="d-flex align-items-center p-13 rounded-6 bg-white mb-4">
                        <div class="p-3 bg-icon-1 rounded-4 me-13">
                            <img src="../assets/images/icons/megaphoneSimple.png" alt="">
                        </div>
                        <div>
                            <p class="mb-2 fw-semibold ">網路行銷</p>
                            <p class="m-0 text-neutral-50 fs-8">342門課程</p>
                        </div>
                    </div>

                    <div class="d-flex align-items-center p-13 rounded-6 bg-white">
                        <div class="p-3 bg-icon-2 rounded-4 me-13">
                            <img src="../assets/images/icons/bugDroid.png" alt="">
                        </div>
                        <div>
                            <p class="mb-2 fw-semibold ">數據分析</p>
                            <p class="m-0 text-neutral-50 fs-8">395門課程</p>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide ">
                
                    <div class="d-flex align-items-center p-13 rounded-6 bg-white mb-4">
                        <div class="p-3 bg-icon-3 rounded-4 me-13">
                            <img src="../assets/images/icons/camera.png" alt="">
                        </div>
                        <div>
                            <p class="mb-2 fw-semibold ">拍攝剪輯</p>
                            <p class="m-0 text-neutral-50 fs-8">563門課程</p>
                        </div>
                    </div>
                
                    <div class="d-flex align-items-center p-13 rounded-6 bg-white">
                        <div class="p-3 bg-icon-4 rounded-4 me-13">
                            <img src="../assets/images/icons/creditCard.png" alt="">
                        </div>
                        <div>
                            <p class="mb-2 fw-semibold ">投資理財</p>
                            <p class="m-0 text-neutral-50 fs-8">486門課程</p>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide ">
                
                    <div class="d-flex align-items-center p-13 rounded-6 bg-white mb-4">
                        <div class="p-3 bg-icon-5 rounded-4 me-13">
                            <img src="../assets/images/icons/chartBarHorizontal.png" alt="">
                        </div>
                        <div>
                            <p class="mb-2 fw-semibold ">自我成長</p>
                            <p class="m-0 text-neutral-50 fs-8">490門課程</p>
                        </div>
                    </div>
                
                    <div class="d-flex align-items-center p-13 rounded-6 bg-white">
                        <div class="p-3 bg-icon-6 rounded-4 me-13">
                            <img src="../assets/images/icons/headphones.png" alt="">
                        </div>
                        <div>
                            <p class="mb-2 fw-semibold ">音樂創作</p>
                            <p class="m-0 text-neutral-50 fs-8">283門課程</p>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide ">
                
                    <div class="d-flex align-items-center p-13 rounded-6 bg-white mb-4">
                        <div class="p-3 bg-icon-7 rounded-4 me-13">
                            <img src="../assets/images/icons/penNib.png" alt="">
                        </div>
                        <div>
                            <p class="mb-2 fw-semibold ">藝術設計</p>
                            <p class="m-0 text-neutral-50 fs-8">230門課程</p>
                        </div>
                    </div>
                
                    <div class="d-flex align-items-center px-13 py-4 rounded-6 bg-white">
                        <div class="p-3 bg-icon-8 rounded-4 me-13">
                            <img src="../assets/images/icons/arrow.png" alt="">
                        </div>
                        <div>
                            <p class="mb-0 fw-semibold ">探索更多</p>
                        </div>
                    </div>
                </div>
            </div>
    </article>
</main>

<main class=" bg-blue-100 rounded-7 d-none d-lg-block">
    <article class="container">

        <div class="row px-3 py-10 justify-content-between">
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-6 ps-0">
                        <div class="d-flex align-items-center p-13 rounded-6 bg-white mb-4">
                            <div class="p-3 bg-icon-1 rounded-4 me-13">
                                <img src="../assets/images/icons/megaphoneSimple.png" alt="">
                            </div>
                            <div>
                                <p class="mb-2 fw-semibold ">網路行銷</p>
                                <p class="m-0 text-neutral-50 fs-8">342門課程</p>
                            </div>
                        </div>

                        <div class="d-flex align-items-center p-13 rounded-6 bg-white mb-4">
                            <div class="p-3 bg-icon-5 rounded-4 me-13">
                                <img src="../assets/images/icons/chartBarHorizontal.png" alt="">
                            </div>
                            <div>
                                <p class="mb-2 fw-semibold ">自我成長</p>
                                <p class="m-0 text-neutral-50 fs-8">490門課程</p>
                            </div>
                        </div>
                        <div class="d-flex align-items-center p-13 rounded-6 bg-white mb-4">
                            <div class="p-3 bg-icon-2 rounded-4 me-13">
                                <img src="../assets/images/icons/bugDroid.png" alt="">
                            </div>
                            <div>
                                <p class="mb-2 fw-semibold ">數據分析</p>
                                <p class="m-0 text-neutral-50 fs-8">395門課程</p>
                            </div>
                        </div>
                        <div class="d-flex align-items-center p-13 rounded-6 bg-white">
                            <div class="p-3 bg-icon-6 rounded-4 me-13">
                                <img src="../assets/images/icons/headphones.png" alt="">
                            </div>
                            <div>
                                <p class="mb-2 fw-semibold ">音樂創作</p>
                                <p class="m-0 text-neutral-50 fs-8">283門課程</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 pe-0">
                        <div class="d-flex align-items-center p-13 rounded-6 bg-white mb-4">
                            <div class="p-3 bg-icon-3 rounded-4 me-13">
                                <img src="../assets/images/icons/camera.png" alt="">
                            </div>
                            <div>
                                <p class="mb-2 fw-semibold ">拍攝剪輯</p>
                                <p class="m-0 text-neutral-50 fs-8">563門課程</p>
                            </div>
                        </div>
                        <div class="d-flex align-items-center p-13 rounded-6 bg-white mb-4">
                            <div class="p-3 bg-icon-7 rounded-4 me-13">
                                <img src="../assets/images/icons/penNib.png" alt="">
                            </div>
                            <div>
                                <p class="mb-2 fw-semibold ">藝術設計</p>
                                <p class="m-0 text-neutral-50 fs-8">230門課程</p>
                            </div>
                        </div>
                        <div class="d-flex align-items-center p-13 rounded-6 bg-white mb-4">
                            <div class="p-3 bg-icon-4 rounded-4 me-13">
                                <img src="../assets/images/icons/creditCard.png" alt="">
                            </div>
                            <div>
                                <p class="mb-2 fw-semibold ">投資理財</p>
                                <p class="m-0 text-neutral-50 fs-8">486門課程</p>
                            </div>
                        </div>
                        <div class="d-flex align-items-center px-13 py-4 rounded-6 bg-white">
                            <div class="p-3 bg-icon-8 rounded-4 me-13">
                                <img src="../assets/images/icons/arrow.png" alt="">
                            </div>
                            <div>
                                <p class="mb-0 fw-semibold ">探索更多</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
             
            <div class="col-lg-5 pe-0">
                <div class="mb-6 d-flex">
                    <div>
                        <img class="mb-2" src="../assets/images/deco/polygon-1.png" alt="polygon-1">
                    </div>
                    <div>
                        <p class="w-100 fs-7 text-white fw-semibold mb-2">想學什麼嗎？</p>
                        <p class="w-100 fs-7 text-white fw-semibold mb-2">一探究竟。</p>
                        <img class="w-100" src="../assets/images/deco/line-2.png" alt="line-2.png">
                    </div>
                </div>
            </div>
        </div>
    </article>
</main>