.form-check-input.form-check-input{
    width: 24px !important;
    height: 24px !important;

}



.section-1:has(>.section>select[data-chose="electronic"])>.section-2:nth-child(2){
     display: block !important;
}

.section-1:has(>.section>select[data-chose="electronic"]).section-1:has(>.section-2>select[data-chose="vehicle"])>.section-3:nth-child(3){
    display: block !important;
}

.section-1:has(>.section>select[data-chose="compiled"])>.section-4:nth-child(4){
    display: block !important;
}